

<script>
(function () {
  'use strict'
  const forms = document.querySelectorAll('.requires-validation')
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
<nav class="navbar navbar-dark bg-primary">
  <h1>Angulardemo</h1>
  <a routerLink="/home" id="homelink">Register</a>
  <a routerLink="/student" id="homelink">student</a>
</nav>

<!--heading start -->
<div class="container">
  <div class="row">
    <div class="col">
      
      
    </div>
  </div>
</div>

<!--heading end-->


<router-outlet></router-outlet>