<h1 style="text-align: center">student</h1>

<label for="studentdetials">Choose a type:</label>

<select name="studentdetials" id="studentdetials" [(ngModel)]="selecttypevalue">
  <option value="">-- Select Property --</option>
  <option value="id">id</option>
  <option value="name">name</option>
  <option value="address">address</option>
  <option value="number">number</option>
</select>

<label for="search">Search:</label>
<input type="text" id="search" name="search" [(ngModel)]="studentsearch">

<div *ngIf="studentPresent(); else noStudentFound">
  <table border="1px" id="tbl">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>address</th>
      <th>number</th>
    </tr>
    
    <tr *ngFor="let studentDetails of foundStudents">
      
        <td>{{ studentDetails.id }}</td>
        <td>{{ studentDetails.name }}</td>
        <td>{{ studentDetails.address }}</td>
        <td>{{ studentDetails.number }}</td>
      
    </tr>
  </table>
</div>

<ng-template #noStudentFound>
  <div>
    <table border="1px" id="tbl">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
        <th>number</th>
      </tr>
      <tr *ngFor="let studentDetails of students">
        <td>{{ studentDetails.id }}</td>
        <td>{{ studentDetails.name }}</td>
        <td>{{ studentDetails.address }}</td>
        <td>{{ studentDetails.number }}</td>
      </tr>
 </table>
 </div>
</ng-template>
